openapi: 3.0.3
info:
  title: SmartTicket API
  description: |
    B2B multi-tenant ticketing and knowledge collaboration platform API.

    This API provides comprehensive functionality for:
    - Multi-tenant management with role-based access control
    - Ticket lifecycle management with SLA tracking
    - Knowledge base and document management
    - User management and authentication
    - Role and permission management

    ## Authentication
    All API requests (except authentication endpoints) require a valid JWT token in the `Authorization` header:
    ```
    Authorization: Bearer <jwt_token>
    ```

    ## Multi-Tenancy
    All requests must include tenant context via headers:
    - `X-Tenant-ID`: The tenant identifier
    - `X-User-ID`: The requesting user identifier
    - `X-User-Role`: The user's role in the tenant

    ## Rate Limiting
    API endpoints are rate-limited per tenant. Standard limits:
    - 1000 requests per hour for enterprise tier
    - 500 requests per hour for premium tier
    - 200 requests per hour for standard tier

    ## Error Handling
    The API uses standard HTTP status codes and returns consistent error responses:
    ```json
    {
      "success": false,
      "errors": [
        {
          "code": "VALIDATION_ERROR",
          "message": "Invalid input parameters",
          "details": {...}
        }
      ],
      "request_id": "req_123456789"
    }
    ```

  version: 1.0.0
  contact:
    name: SmartTicket API Support
    email: api-support@smartticket.com
  license:
    name: Commercial License
    url: https://smartticket.com/license

servers:
  - url: https://api.smartticket.com/v1
    description: Production server
  - url: https://staging-api.smartticket.com/v1
    description: Staging server
  - url: http://localhost:3001/v1
    description: Development server

security:
  - BearerAuth: []
  - TenantAuth: []

paths:
  # Authentication endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return JWT tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              admin_login:
                summary: Admin user login
                value:
                  email: "admin@test.smartticket.com"
                  password: "securePassword123"
                  tenant_domain: "test.smartticket.com"
                  remember_me: false
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Get new access token using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Tenant Management endpoints
  /tenants:
    get:
      tags:
        - Tenant Management
      summary: List tenants
      description: Retrieve a paginated list of tenants with filtering
      operationId: listTenants
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: subscription_tier
          in: query
          description: Filter by subscription tier
          schema:
            $ref: '#/components/schemas/SubscriptionTier'
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: data_residency_region
          in: query
          description: Filter by data residency region
          schema:
            type: string
      responses:
        '200':
          description: Tenants retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTenantsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Tenant Management
      summary: Create new tenant
      description: Create a new tenant with initial configuration
      operationId: createTenant
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTenantResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /tenants/{tenant_id}:
    get:
      tags:
        - Tenant Management
      summary: Get tenant by ID
      description: Retrieve detailed information about a specific tenant
      operationId: getTenant
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tenant retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTenantResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags:
        - Tenant Management
      summary: Update tenant
      description: Update tenant information and settings
      operationId: updateTenant
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTenantResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Tenant Management
      summary: Delete tenant
      description: Soft delete a tenant (marks as inactive)
      operationId: deleteTenant
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Tenant deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /tenants/current:
    get:
      tags:
        - Tenant Management
      summary: Get current tenant
      description: Retrieve information about the current user's tenant
      operationId: getCurrentTenant
      security:
        - BearerAuth: []
          TenantAuth: []
      responses:
        '200':
          description: Current tenant retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCurrentTenantResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tenants/{tenant_id}/status:
    patch:
      tags:
        - Tenant Management
      summary: Update tenant status
      description: Activate or deactivate a tenant
      operationId: updateTenantStatus
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantStatusRequest'
      responses:
        '200':
          description: Tenant status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTenantStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tenants/{tenant_id}/subscription:
    put:
      tags:
        - Tenant Management
      summary: Update subscription
      description: Update tenant subscription tier and limits
      operationId: updateSubscription
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
      responses:
        '200':
          description: Subscription updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tenants/{tenant_id}/usage:
    get:
      tags:
        - Tenant Management
      summary: Get tenant usage statistics
      description: Retrieve usage metrics and statistics for a tenant
      operationId: getTenantUsage
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
        - name: period_start
          in: query
          description: Start of usage period (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: period_end
          in: query
          description: End of usage period (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: include_detailed_metrics
          in: query
          description: Include detailed usage metrics
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Usage statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTenantUsageResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tenants/{tenant_id}/billing:
    get:
      tags:
        - Tenant Management
      summary: Get tenant billing information
      description: Retrieve billing details and upcoming charges
      operationId: getTenantBilling
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
        - name: billing_period
          in: query
          description: Billing period (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: include_line_items
          in: query
          description: Include detailed line items
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Billing information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTenantBillingResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # Ticket Management endpoints
  /tickets:
    get:
      tags:
        - Ticket Management
      summary: List tickets
      description: Retrieve a paginated list of tickets with filtering and sorting
      operationId: listTickets
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: statuses
          in: query
          description: Filter by ticket statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TicketStatus'
        - name: priorities
          in: query
          description: Filter by ticket priorities
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TicketPriority'
        - name: severities
          in: query
          description: Filter by ticket severities
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TicketSeverity'
        - name: assigned_to_id
          in: query
          description: Filter by assigned user
          schema:
            type: string
            format: uuid
        - name: contact_id
          in: query
          description: Filter by contact user
          schema:
            type: string
            format: uuid
        - name: category_id
          in: query
          description: Filter by category
          schema:
            type: string
            format: uuid
        - name: created_after
          in: query
          description: Filter tickets created after this date
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter tickets created before this date
          schema:
            type: string
            format: date-time
        - name: due_after
          in: query
          description: Filter tickets due after this date
          schema:
            type: string
            format: date-time
        - name: due_before
          in: query
          description: Filter tickets due before this date
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Tickets retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTicketsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Ticket Management
      summary: Create new ticket
      description: Create a new ticket with initial information
      operationId: createTicket
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '201':
          description: Ticket created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tickets/search:
    post:
      tags:
        - Ticket Management
      summary: Search tickets
      description: Search tickets using full-text search with filters
      operationId: searchTickets
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTicketsRequest'
      responses:
        '200':
          description: Tickets searched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTicketsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /tickets/{ticket_id}:
    get:
      tags:
        - Ticket Management
      summary: Get ticket by ID
      description: Retrieve detailed information about a specific ticket
      operationId: getTicket
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
        - name: include_comments
          in: query
          description: Include ticket comments in response
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Ticket retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTicketResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Ticket Management
      summary: Update ticket
      description: Update ticket information and details
      operationId: updateTicket
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTicketRequest'
      responses:
        '200':
          description: Ticket updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTicketResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Ticket Management
      summary: Delete ticket
      description: Soft delete a ticket (marks as deleted)
      operationId: deleteTicket
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Ticket deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket_id}/status:
    patch:
      tags:
        - Ticket Management
      summary: Update ticket status
      description: Update the status of a ticket
      operationId: updateTicketStatus
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTicketStatusRequest'
      responses:
        '200':
          description: Ticket status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTicketStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket_id}/assign:
    patch:
      tags:
        - Ticket Management
      summary: Assign ticket
      description: Assign a ticket to a user
      operationId: assignTicket
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTicketRequest'
      responses:
        '200':
          description: Ticket assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignTicketResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket_id}/comments:
    get:
      tags:
        - Ticket Management
      summary: Get ticket comments
      description: Retrieve comments for a specific ticket
      operationId: getComments
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommentsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Ticket Management
      summary: Add comment to ticket
      description: Add a new comment to a ticket
      operationId: addComment
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          description: Ticket UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequest'
      responses:
        '201':
          description: Comment added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # Knowledge Management endpoints
  /knowledge/articles:
    get:
      tags:
        - Knowledge Management
      summary: List knowledge articles
      description: Retrieve a paginated list of knowledge articles with filtering
      operationId: listArticles
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: statuses
          in: query
          description: Filter by article statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/KnowledgeStatus'
        - name: visibilities
          in: query
          description: Filter by visibility levels
          schema:
            type: array
            items:
              $ref: '#/components/schemas/KnowledgeVisibility'
        - name: category_id
          in: query
          description: Filter by category
          schema:
            type: string
            format: uuid
        - name: author_id
          in: query
          description: Filter by author
          schema:
            type: string
            format: uuid
        - name: language
          in: query
          description: Filter by language
          schema:
            type: string
        - name: tags
          in: query
          description: Filter by tags
          schema:
            type: array
            items:
              type: string
        - name: published_after
          in: query
          description: Filter articles published after this date
          schema:
            type: string
            format: date-time
        - name: published_before
          in: query
          description: Filter articles published before this date
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Articles retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListArticlesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Knowledge Management
      summary: Create knowledge article
      description: Create a new knowledge article
      operationId: createArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArticleRequest'
      responses:
        '201':
          description: Article created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateArticleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /knowledge/articles/search:
    post:
      tags:
        - Knowledge Management
      summary: Search knowledge articles
      description: Search knowledge articles using full-text search
      operationId: searchArticles
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchArticlesRequest'
      responses:
        '200':
          description: Articles searched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchArticlesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /knowledge/articles/{article_id}:
    get:
      tags:
        - Knowledge Management
      summary: Get knowledge article
      description: Retrieve a specific knowledge article
      operationId: getArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
        - name: increment_view_count
          in: query
          description: Increment the article view count
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Article retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArticleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Knowledge Management
      summary: Update knowledge article
      description: Update an existing knowledge article
      operationId: updateArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateArticleRequest'
      responses:
        '200':
          description: Article updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateArticleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Knowledge Management
      summary: Delete knowledge article
      description: Soft delete a knowledge article
      operationId: deleteArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Article deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /knowledge/articles/{article_id}/publish:
    post:
      tags:
        - Knowledge Management
      summary: Publish knowledge article
      description: Publish a knowledge article to make it publicly available
      operationId: publishArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishArticleRequest'
      responses:
        '200':
          description: Article published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishArticleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /knowledge/articles/{article_id}/archive:
    post:
      tags:
        - Knowledge Management
      summary: Archive knowledge article
      description: Archive a knowledge article
      operationId: archiveArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveArticleRequest'
      responses:
        '200':
          description: Article archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveArticleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /knowledge/articles/{article_id}/rate:
    post:
      tags:
        - Knowledge Management
      summary: Rate knowledge article
      description: Rate a knowledge article as helpful or not
      operationId: rateArticle
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: article_id
          in: path
          required: true
          description: Article UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateArticleRequest'
      responses:
        '200':
          description: Article rated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateArticleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /knowledge/articles/suggestions:
    post:
      tags:
        - Knowledge Management
      summary: Get article suggestions
      description: Get knowledge article suggestions based on ticket information
      operationId: getArticleSuggestions
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetArticleSuggestionsRequest'
      responses:
        '200':
          description: Suggestions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArticleSuggestionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /knowledge/categories:
    get:
      tags:
        - Knowledge Management
      summary: Get knowledge categories
      description: Retrieve knowledge article categories
      operationId: getCategories
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: parent_id
          in: query
          description: Filter by parent category
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCategoriesResponse'

    post:
      tags:
        - Knowledge Management
      summary: Create knowledge category
      description: Create a new knowledge article category
      operationId: createCategory
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCategoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # User Management endpoints
  /users:
    get:
      tags:
        - User Management
      summary: List users
      description: Retrieve a paginated list of users with filtering
      operationId: listUsers
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: role
          in: query
          description: Filter by user role
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - User Management
      summary: Create new user
      description: Create a new user in the tenant
      operationId: createUser
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/{user_id}:
    get:
      tags:
        - User Management
      summary: Get user by ID
      description: Retrieve detailed information about a specific user
      operationId: getUser
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - User Management
      summary: Update user
      description: Update user information and role
      operationId: updateUser
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - User Management
      summary: Delete user
      description: Soft delete a user (marks as inactive)
      operationId: deleteUser
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /users/current:
    get:
      tags:
        - User Management
      summary: Get current user profile
      description: Retrieve current user's profile and permissions
      operationId: getCurrentUser
      security:
        - BearerAuth: []
          TenantAuth: []
      responses:
        '200':
          description: Current user profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCurrentUserResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - User Management
      summary: Update current user profile
      description: Update current user's profile information
      operationId: updateCurrentUser
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCurrentUserRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCurrentUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /users/{user_id}/status:
    patch:
      tags:
        - User Management
      summary: Update user status
      description: Activate or deactivate a user
      operationId: updateUserStatus
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserStatusRequest'
      responses:
        '200':
          description: User status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{user_id}/permissions:
    get:
      tags:
        - User Management
      summary: Get user permissions
      description: Retrieve permissions for a specific user
      operationId: getUserPermissions
      security:
        - BearerAuth: []
          TenantAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User permissions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/change-password:
    post:
      tags:
        - User Management
      summary: Change password
      description: Change current user's password
      operationId: changePassword
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePasswordResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/reset-password:
    post:
      tags:
        - User Management
      summary: Reset user password
      description: Reset a user's password (admin only)
      operationId: resetPassword
      security:
        - BearerAuth: []
          TenantAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token

    TenantAuth:
      type: apiKey
      in: header
      name: X-Tenant-ID
      description: Tenant identifier

  parameters:
    Page:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1

    PageSize:
      name: page_size
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    Search:
      name: search
      in: query
      description: Search query
      schema:
        type: string
        minLength: 1
        maxLength: 100

  schemas:
    # Common schemas
    Response:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        request_id:
          type: string
          format: uuid

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code (e.g., VALIDATION_ERROR, NOT_FOUND)
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Additional error details

    PaginationResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of items
        page_size:
          type: integer
          description: Number of items per page
        next_page_token:
          type: string
          description: Token for next page
        prev_page_token:
          type: string
          description: Token for previous page

    # Authentication schemas
    LoginRequest:
      type: object
      required:
        - email
        - password
        - tenant_domain
      properties:
        email:
          type: string
          format: email
          description: User email address
        password:
          type: string
          format: password
          description: User password
        tenant_domain:
          type: string
          description: Tenant domain
        remember_me:
          type: boolean
          description: Whether to extend session
          default: false

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        expires_at:
          type: string
          format: date-time
          description: Token expiration time
        user:
          $ref: '#/components/schemas/User'

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: JWT refresh token

    RefreshTokenResponse:
      type: object
      properties:
        success:
          type: boolean
        access_token:
          type: string
          description: New JWT access token
        refresh_token:
          type: string
          description: New JWT refresh token
        expires_at:
          type: string
          format: date-time
          description: Token expiration time

    # Tenant schemas
    TenantInfo:
      type: object
      required:
        - id
        - name
        - domain
        - subscription_tier
        - max_users
        - data_residency_region
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Tenant UUID
        name:
          type: string
          description: Tenant name
        domain:
          type: string
          description: Tenant domain
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        max_users:
          type: integer
          description: Maximum number of users
        data_residency_region:
          type: string
          description: Data residency region
        is_active:
          type: boolean
          description: Whether tenant is active
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        current_user_count:
          type: integer
          description: Current number of users
        subscription_expires_at:
          type: string
          format: date-time
          description: Subscription expiration
        is_trial:
          type: boolean
          description: Whether this is a trial tenant
        contact_email:
          type: string
          format: email
          description: Contact email
        billing_address:
          type: string
          description: Billing address
        phone:
          type: string
          description: Phone number
        settings:
          $ref: '#/components/schemas/TenantSettings'

    TenantSettings:
      type: object
      properties:
        default_timezone:
          type: string
          description: Default timezone
        default_language:
          type: string
          description: Default language
        enable_multi_language:
          type: boolean
          description: Enable multi-language support
        allow_user_registration:
          type: boolean
          description: Allow user self-registration
        branding_logo_url:
          type: string
          format: uri
          description: Branding logo URL
        branding_color:
          type: string
          description: Branding color (hex)
        custom_fields:
          type: object
          additionalProperties: true
          description: Custom configuration fields
        security:
          $ref: '#/components/schemas/SecuritySettings'
        notifications:
          $ref: '#/components/schemas/NotificationSettings'

    SecuritySettings:
      type: object
      properties:
        require_2fa:
          type: boolean
          description: Require two-factor authentication
        password_min_length:
          type: integer
          description: Minimum password length
        require_password_change:
          type: boolean
          description: Require password change on first login
        session_timeout_minutes:
          type: integer
          description: Session timeout in minutes
        ip_whitelist_enabled:
          type: boolean
          description: Enable IP whitelist
        allowed_ip_ranges:
          type: array
          items:
            type: string
          description: Allowed IP ranges (CIDR notation)

    NotificationSettings:
      type: object
      properties:
        email_notifications:
          type: boolean
          description: Enable email notifications
        sms_notifications:
          type: boolean
          description: Enable SMS notifications
        push_notifications:
          type: boolean
          description: Enable push notifications
        default_from_email:
          type: string
          format: email
          description: Default sender email
        default_from_name:
          type: string
          description: Default sender name
        notification_templates:
          type: object
          additionalProperties: true
          description: Custom notification templates

    SubscriptionTier:
      type: string
      enum:
        - STANDARD
        - PREMIUM
        - ENTERPRISE
      description: Subscription tier levels

    # Tenant request/response schemas
    CreateTenantRequest:
      type: object
      required:
        - name
        - domain
        - subscription_tier
        - max_users
        - data_residency_region
        - contact_email
      properties:
        name:
          type: string
          description: Tenant name
        domain:
          type: string
          description: Tenant domain
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        max_users:
          type: integer
          description: Maximum users allowed
        data_residency_region:
          type: string
          description: Data residency region
        contact_email:
          type: string
          format: email
          description: Contact email
        billing_address:
          type: string
          description: Billing address
        phone:
          type: string
          description: Phone number
        settings:
          $ref: '#/components/schemas/TenantSettings'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        is_trial:
          type: boolean
          description: Whether this is a trial tenant

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
          description: Tenant name
        domain:
          type: string
          description: Tenant domain
        contact_email:
          type: string
          format: email
          description: Contact email
        billing_address:
          type: string
          description: Billing address
        phone:
          type: string
          description: Phone number
        settings:
          $ref: '#/components/schemas/TenantSettings'

    UpdateTenantStatusRequest:
      type: object
      required:
        - is_active
      properties:
        is_active:
          type: boolean
          description: New active status
        reason:
          type: string
          description: Reason for status change

    UpdateSubscriptionRequest:
      type: object
      required:
        - new_tier
        - new_max_users
      properties:
        new_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        new_max_users:
          type: integer
          description: New maximum user limit
        effective_date:
          type: string
          format: date-time
          description: When the change takes effect
        prorate:
          type: boolean
          description: Whether to prorate billing
        billing_change_reason:
          type: string
          description: Reason for billing change

    PaymentMethod:
      type: object
      properties:
        type:
          type: string
          enum: [credit_card, bank_transfer, invoice]
          description: Payment method type
        last_four:
          type: string
          description: Last four digits
        expires_at:
          type: string
          format: date-time
          description: Expiration date
        is_default:
          type: boolean
          description: Whether this is the default method
        provider:
          type: string
          description: Payment provider

    # Tenant response schemas
    CreateTenantResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'
        setup_token:
          type: string
          description: Token for initial admin setup

    GetTenantResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'

    GetCurrentTenantResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'
        recent_users:
          type: array
          items:
            $ref: '#/components/schemas/User'

    UpdateTenantResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'

    ListTenantsResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantInfo'
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    UpdateTenantStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'

    UpdateSubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        tenant:
          $ref: '#/components/schemas/TenantInfo'
        billing:
          $ref: '#/components/schemas/TenantBilling'
        will_invoice:
          type: boolean
          description: Whether this change will generate an invoice

    # Usage and Billing schemas
    TenantUsage:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
        total_users:
          type: integer
        active_users:
          type: integer
        total_tickets:
          type: integer
        open_tickets:
          type: integer
        storage_used_bytes:
          type: integer
        api_calls_this_month:
          type: integer
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        metrics:
          $ref: '#/components/schemas/UsageMetrics'

    UsageMetrics:
      type: object
      properties:
        tickets_created:
          type: integer
        tickets_resolved:
          type: integer
        avg_resolution_time_hours:
          type: integer
        knowledge_articles_created:
          type: integer
        knowledge_article_views:
          type: integer
        customer_satisfaction_score:
          type: integer
        top_users:
          type: array
          items:
            $ref: '#/components/schemas/UserActivitySummary'

    UserActivitySummary:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_name:
          type: string
        tickets_handled:
          type: integer
        tickets_resolved:
          type: integer
        avg_resolution_time_hours:
          type: integer

    TenantBilling:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
        current_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        billing_cycle_start:
          type: string
          format: date-time
        billing_cycle_end:
          type: string
          format: date-time
        currency:
          type: string
          description: Currency code (ISO 4217)
        monthly_cost:
          type: number
          format: double
        current_usage_cost:
          type: number
          format: double
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/BillingLineItem'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        next_billing_date:
          type: string
          format: date-time

    BillingLineItem:
      type: object
      properties:
        item_type:
          type: string
          description: Type of billing item
        description:
          type: string
          description: Item description
        quantity:
          type: integer
          description: Quantity
        unit_price:
          type: number
          format: double
          description: Price per unit
        total_price:
          type: number
          format: double
          description: Total price

    GetTenantUsageResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        usage:
          $ref: '#/components/schemas/TenantUsage'

    GetTenantBillingResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        billing:
          $ref: '#/components/schemas/TenantBilling'
        upcoming_charges:
          type: array
          items:
            $ref: '#/components/schemas/BillingLineItem'

    # User schemas
    User:
      type: object
      required:
        - id
        - email
        - username
        - full_name
        - role
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: User UUID
        email:
          type: string
          format: email
          description: User email
        username:
          type: string
          description: Unique username
        full_name:
          type: string
          description: User's full name
        role:
          $ref: '#/components/schemas/UserRole'
        is_active:
          type: boolean
          description: Whether user is active
        last_login_at:
          type: string
          format: date-time
          description: Last login timestamp
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    UserProfile:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        full_name:
          type: string
        phone:
          type: string
        timezone:
          type: string
        language:
          type: string
        preferences:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Permission:
      type: object
      properties:
        resource:
          type: string
          description: Resource identifier
        actions:
          type: array
          items:
            type: string
          description: Allowed actions on the resource

    UserRole:
      type: string
      enum:
        - SUPER_ADMIN
        - TENANT_ADMIN
        - SUPPORT_ENGINEER
        - CUSTOMER_USER
        - SALES
      description: User role levels

    # User request schemas
    CreateUserRequest:
      type: object
      required:
        - email
        - username
        - full_name
        - password
        - role
      properties:
        email:
          type: string
          format: email
          description: User email
        username:
          type: string
          description: Unique username
        full_name:
          type: string
          description: User's full name
        password:
          type: string
          format: password
          description: User password
        role:
          $ref: '#/components/schemas/UserRole'
        phone:
          type: string
          description: Phone number
        timezone:
          type: string
          description: User timezone
        language:
          type: string
          description: User language
        preferences:
          type: object
          additionalProperties: true
          description: User preferences

    UpdateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: User email
        username:
          type: string
          description: Unique username
        full_name:
          type: string
          description: User's full name
        role:
          $ref: '#/components/schemas/UserRole'
        phone:
          type: string
          description: Phone number
        timezone:
          type: string
          description: User timezone
        language:
          type: string
          description: User language
        preferences:
          type: object
          additionalProperties: true
          description: User preferences

    UpdateCurrentUserRequest:
      type: object
      properties:
        full_name:
          type: string
          description: User's full name
        phone:
          type: string
          description: Phone number
        timezone:
          type: string
          description: User timezone
        language:
          type: string
          description: User language
        preferences:
          type: object
          additionalProperties: true
          description: User preferences

    UpdateUserStatusRequest:
      type: object
      required:
        - is_active
      properties:
        is_active:
          type: boolean
          description: New active status
        reason:
          type: string
          description: Reason for status change

    ChangePasswordRequest:
      type: object
      required:
        - current_password
        - new_password
      properties:
        current_password:
          type: string
          format: password
          description: Current password
        new_password:
          type: string
          format: password
          description: New password

    ResetPasswordRequest:
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          format: uuid
          description: User UUID
        temporary_password:
          type: string
          description: Temporary password (leave empty to auto-generate)
        send_email:
          type: boolean
          description: Whether to send email with temporary password

    # User response schemas
    CreateUserResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'

    GetUserResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'
        profile:
          $ref: '#/components/schemas/UserProfile'

    GetCurrentUserResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'
        profile:
          $ref: '#/components/schemas/UserProfile'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'

    UpdateUserResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'

    UpdateCurrentUserResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        profile:
          $ref: '#/components/schemas/UserProfile'

    ListUsersResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    UpdateUserStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'

    ChangePasswordResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string

    ResetPasswordResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        temporary_password:
          type: string
          description: Generated temporary password

    GetUserPermissionsResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'

  responses:
    BadRequest:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Invalid input parameters"
                  errors:
                    - code: "VALIDATION_ERROR"
                      message: "Email is required"
                  request_id: "req_123456789"

    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Authentication required"
                  errors:
                    - code: "UNAUTHORIZED"
                      message: "Invalid or missing JWT token"
                  request_id: "req_123456789"

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Insufficient permissions"
                  errors:
                    - code: "FORBIDDEN"
                      message: "User does not have required permissions"
                  request_id: "req_123456789"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Resource not found"
                  errors:
                    - code: "NOT_FOUND"
                      message: "Requested resource does not exist"
                  request_id: "req_123456789"

    Conflict:
      description: Resource already exists or conflict with existing resource
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Resource already exists"
                  errors:
                    - code: "CONFLICT"
                      message: "Tenant with this domain already exists"
                  request_id: "req_123456789"

    RateLimit:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                example:
                  success: false
                  message: "Rate limit exceeded"
                  errors:
                    - code: "RATE_LIMIT_EXCEEDED"
                      message: "Too many requests, please try again later"
                  request_id: "req_123456789"

tags:
  - name: Authentication
    description: Authentication and token management endpoints
  - name: Tenant Management
    description: Multi-tenant administration and management
  - name: User Management
    description: User profile and account management